{% extends 'base2.html' %}
{% load static %}
{% block title %}
<title>Create CIty</title>
{% endblock %}
{% block content %}




<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="card ">
        <div class="card-header card-header-rose card-header-icon">
          <div class="card-icon">
            <i class="material-icons">grid_on</i>
          </div>
          <h4 class="card-title">Add Category</h4>
        </div>
        <div class="card-body ">
          <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="form-group">
             <!--  <label for="exampleEmail" class="bmd-label-floating">Enter City Name Here</label>  -->
              {{form.name}}
              <span style="color: red;">{{form.name.errors}}</span>
            </div>
            <!-- <input type="email" class="form-control" id="exampleEmail"> -->

            <div class="form-group">
                <!--  <label for="exampleEmail" class="bmd-label-floating">Enter City Name Here</label>  -->
                 {{form.description}}
                 <span style="color: red;">{{form.description.errors}}</span>
            </div>

<br>
            <div class="row">
            <div class="col-md-4 col-sm-4">

            <h4 class="title">Category Image</h4>
            </div >

            <div class="col-md-4 col-sm-4">

                      <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                        <div class="fileinput-new thumbnail">
                          <img height="150px" width="200px" src="{% static 'assets/img/image_placeholder.jpg' %}" alt="...">
                        </div>

                        <div class="fileinput-preview fileinput-exists thumbnail"></div>
                        <div>
                          <span class="btn btn-rose btn-round btn-file">
                            <span class="fileinput-new">Select image</span>
                            <span class="fileinput-exists">Change</span>
                            {{form.category_image}}
                            <span style="color: red;">{{form.image.errors}}</span>

                          </span>
                          <a href="#pablo" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a>
                        </div>
                      </div>
                    </div>

            </div>


        </div>
        <span style="visibility: hidden;">{{form.user}}</span>

        <div class="card-footer ">
          <button type="submit" class="btn btn-fill btn-rose" style="float:right">Submit</button>
        </div>
    </form>

    </div>
    </div>



</div>

  

{% endblock %}