{% load static %}

<script  src="{% static 'js/jquery-3.6.0.min.js' %}" ></script><!-- JQUERY.MIN JS -->
<script  src="{% static 'js/popper.min.js' %}" ></script><!-- POPPER.MIN JS -->
<script  src="{% static 'js/bootstrap.min.js' %}"></script><!-- BOOTSTRAP.MIN JS -->
<script  src="{% static 'js/bootstrap-select.min.js' %}"></script><!-- BOOTSTRAP SELECT -->    
<script  src="{% static 'js/jquery.bootstrap-touchspin.js' %}"></script><!-- FORM JS -->
<script  src="{% static 'js/magnific-popup.min.js' %}"></script><!-- MAGNIFIC-POPUP JS -->
<script  src="{% static 'js/waypoints.min.js' %}"></script><!-- WAYPOINTS JS -->
<script  src="{% static 'js/counterup.min.js' %}"></script><!-- COUNTERUP JS -->
<script  src="{% static 'js/waypoints-sticky.min.js' %}"></script><!-- STICKY HEADER -->
<script  src="{% static 'js/isotope.pkgd.min.js' %}"></script><!-- MASONRY  -->
    
<script  src="{% static 'js/owl.carousel.min.js' %}" ></script><!-- OWL  SLIDER  -->
<script  src="{% static 'js/slick.min.js' %}" ></script><!-- OWL  SLIDER  -->
    
<script  src="{% static 'js/theia-sticky-sidebar.js' %}" ></script><!-- STICKY SIDEBAR  -->
<script src="{% static 'js/m-custom-scrollbar.min.js' %}" ></script><!-- my account left panel scroller -->
<script src="{% static 'js/dropzone.js' %}" ></script><!-- Images upload -->  

<script src="{% static 'js/bootstrap4-toggle.min.js' %}" ></script>
<script src="{% static 'js/jquery.dataTables.min.js' %}" ></script>
<script src="{% static 'js/dataTables.bootstrap4.min.js' %}" ></script>

<script  src="{% static 'js/custom.js' %}"></script><!-- CUSTOM FUCTIONS  -->
<script src="{% static 'js/lc_lightbox.lite.js' %}" ></script><!-- IMAGE POPUP -->
<script  src="{% static 'js/bootstrap-slider.min.js' %}"></script><!-- Form js -->